.designer {
  display: grid;
  grid-template-columns: minmax(60px, auto) minmax(240px, 1fr) minmax(60px, auto);
  grid-template-rows: auto 1fr;
  gap: 8px;
  min-height: 100vh;
  min-width: 100vw;
  box-sizing: border-box;
  padding: 8px;
}
